@media (max-width: 1000px) {
    .dpmenu {
        position: relative;
        display: block;
        height: 30px;
        width: 30px;
        cursor: pointer;
        /* background: rgb(255, 0, 0); */
    }

    .dpmenu::before {
       content: "";
       position: absolute;
       background: rgb(0, 0, 0);
       top: 4px;
       width: 100%;
       height: 2px;
       z-index: 1;
       box-shadow: 0 10px 0 rgb(0, 0, 0);
       transition: 0.5s;
    }
    
    .dpmenu::after {
        content: "";
        position: absolute;
        background: rgb(0, 0, 0);
        bottom: 4px;
        width: 100%;
        height: 2px;
        z-index: 1;
        /* box-shadow: 0 10px 0 #fff; */
        transition: 0.5s;
    }

    header {
        padding: 5px 50px;
        background: #fff;
    }

    header .logo,
    header ul li a {
        color: black;
    }
    header.sticky {
        padding: 5px 50px;
    }

    header ul{
        position: absolute;
        top: 59px;
        left: 0;
        width: 100%;
        min-height: 100vh;
        background: #fff;
        /* overflow: auto; */
        visibility: hidden;
        opacity: 0;
        /* transition: 0.3s; */
        text-align: center;
    }
    
    header.active ul{
        visibility: visible;
        opacity: 1;
        /* display: block; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    header.active ul li a{
        display: inline-block;
        margin: 10px 0;
        font-size: 25px;
    }

    .banner::before {
        background-attachment: scroll;
    
    }

    .banner h2 {
        margin-top: 100px;
        font-size: 50px;
    }

    .banner h2 span {
        color: #ff0057; 
        font-size: 1.5em;
     }


  


    .contactform {
        width: 500px;
        /* border: 2px solid white; */
    }

    .contactform form .row100 .inputbx50 input {
        width: 100%;
        outline: none;
        background: none;
        margin-top: 40px;
        border: none;
        border-bottom: 1px solid white;
        color: #fff;
        font-size: 20px;
        
        
    }

    .contactform form .row100 .inputbx50 {
        display: flex;
        flex-direction: column;
    }


   
}
@media (max-width: 768px){

    .banner h2 {
        margin-top: 100px;
        font-size: 40px;
    }

    .services .card .box {
        position: relative;
        margin: 0 40px;
        padding: 10px;
        width: 350px;
        height: 200px;
}


.card img {
    width: 100px;
    height: auto;
}
.services .card .box.s-box1 .content h3 {
    color: black;
    font-weight: 800;
    font-size: 32px;
    margin: 10px;
}
.services .card .box.s-box2 .content p {
    padding: 0 40px;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
}
.contactform {
    max-width: 500px;
    width: 100%;
}

.contactform form .row100 .inputbx100 input {
    width: 25%;
    font-size: 16px;
}

.contactform form .row100 .inputbx50 input,
.contactform form .row100 .inputbx100 textarea {
    font-size: 16px;

}

.section {
    padding: 0px;
}
.section-2 .content-main {
    width: 100%;
}
.section-3 .content-main {
    width: 100%;
}
.section-4 .content-main {
    width: 100%;
}
.section-5 .content-main {
    width: 100%;
}
}
@media (max-width: 500px){

    header {
        padding: 5px 20px;
    }
    header.sticky {
        padding: 5px 20px;
    }
    .banner h2 {
        margin-top: 100px;
        font-size: 30px;
    }

    .services .card .box {
        position: relative;
        margin: 0 0;
        padding: 10px;
        max-width: 300px;
        width: 100%;
        height: 200px;
}


.card img {
    width: 100px;
    height: auto;
}
.services .card .box.s-box1 .content h3 {
    color: black;
    font-weight: 800;
    font-size: 32px;
    margin: 10px;
}
.services .card .box.s-box2 .content p {
    padding: 0 10px;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
}
.contactform {
    max-width: 300px;
    width: 100%;
    /* border: 2px solid white; */
}

.contactform form .row100 .inputbx100 input {
    width: 25%;
    font-size: 16px;
}

.contactform form .row100 .inputbx50 input,
.contactform form .row100 .inputbx100 textarea {
    font-size: 16px;

}
.work {
    display: block;
    max-width: 300px;
    width: 100%;
}
.work-card {
    background: rgb(63, 59, 59);
    margin: 20px 0;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-3 {

    padding: 20px;
 
}
.section-4 , .section-5 , .section-3 , .section-1 , .section{

    padding: 20px;
    text-align: left;
}
.section-2 {
    padding: 450px 0 0 0;

}
.stats{
    margin-bottom: 40px;
}
.stats .statsbox h1 {
    font-size: 2rem;
    font-weight: 800;
}
.stats .statsbox h4 {
    font-size: 12px;
    font-weight: 800;
}
.section .content {
    text-align: justify;
    width: 80%;
}
.section .content h3{
    font-size: 2rem;
    text-align: center;
    font-weight: 200;
    margin-bottom: 10px;
}
.section .content p{
    font-size: 1rem;
}
.section .content .btn {
    display: inline-block;
    text-align: center;
    width: 100%;
}
.section-4 .content-main ,.section-2 .content-main ,.section-3 .content-main ,.section-5 .content-main,.section-1 .content-main {
    width: 80%;
    text-align: justify;
}
.section-4 .content-main h3 , .section .content-main h3 , .section-5 .content-main h3,.section-2 .content-main h3,.section-3 .content-main h3 , .section-1 .content-main h3  {
    font-size: 2rem;
    text-align: center;
    font-weight: 200;
    margin-bottom: 10px;
}
.section-4 .content-main p , .section .content-main p , .section-5 .content-main p,.section-2 .content-main p,.section-3 .content-main p , .section-1 .content-main p  {
    font-size: 1rem;
}
.team {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.team-card {
    margin: 20px 20px;
    max-width: 300px;
    width: 100%;
    height: 100%;
}
.team .team-card .team-cardimg img {
    width: 100%;
    height: 100%;
    box-shadow: 0 20px 30px rgb(255 255 255 / 10%);
}
.team-card .details span {
    position: absolute;
    top: 0%;
    left: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% - 38px);
    opacity: 0;
    transform: translatey(31px);
    font-family: 'Rock Salt', cursive;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
}
.icons {
    width: 100%;
    font-size: 24px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons svg {
    width: 80px;
}
.icons svg.yt {
    height: 90px;
    width: 90px;
}
.copyright {
    font-size: 12px;
}
}