@media (max-width: 600px){

    .banner h2 {
        margin-top: 100px;
        font-size: 30px;
    }

    .services .card .box {
        position: relative;
        margin: 0 40px;
        padding: 10px;
        width: 350px;
        height: 200px;
}


.card img {
    width: 100px;
    height: auto;
}
.services .card .box.s-box1 .content h3 {
    color: black;
    font-weight: 800;
    font-size: 32px;
    margin: 10px;
}
.services .card .box.s-box2 .content p {
    padding: 0 40px;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
}
.contactform {
    width: 300px;
    /* border: 2px solid white; */
}

.contactform form .row100 .inputbx100 input {
    width: 25%;
    font-size: 16px;
}

.contactform form .row100 .inputbx50 input,
.contactform form .row100 .inputbx100 textarea {
    font-size: 16px;

}

}